<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- htmx for reloading map -->
    <script
      src="https://unpkg.com/htmx.org@1.9.6"
      integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
      crossorigin="anonymous"
    ></script>
    <!-- Fix to ensure map is rendered in full height (otherwise height is 0) -->
    <style>
      .folium-map {
        height: 100%;
      }
    </style>
    {{ header | safe}}
    <!-- Utility functions to get current map state, used to refresh without resetting zoom or position -->
    <script>
        var myMap = null;
        L.Map.addInitHook(function () {
            myMap = this;
        });
        const getLatitude = () => myMap?.getCenter().lat;
        const getLongitude = () => myMap?.getCenter().lng;
        const getZoom = () => myMap?.getZoom();
      </script>
  </head>
  <body>
    <!-- Use htmx to trigger reload of map data -->
    <div
      style="width: 100%; height: 100%"
      hx-get="/_render"
      hx-trigger="load, every 60s"
      hx-vals="js:{lat: getLatitude() ?? 'auto', lng: getLongitude() ?? 'auto', zoom: getZoom() ?? 'auto'}"
    ></div>

    <!-- Legend -->
    <div style="position: fixed; bottom: 50px; right: 50px; background:white; padding: 10px; border:2px solid grey; z-index:9999; border-radius: 15px">
        <table>
        {% for color, label in legend.items() %}
            <tr>
                <td>
                    <div class="awesome-marker-icon-{{color}} awesome-marker" style="display: block; position: unset;" tabindex="0"><i class="fa-rotate-0 fa fa-bicycle  icon-white"></i>
                </td>
                <td style='font-size: 12px'>
                    {{ label }}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
  </body>
</html>
"""
